<div class="container">

    <h1>Email enviado</h1>

    <ul>
        <li>Enviado a la dirección {{email}}</li>
        <li>Con el concepto {{subject}}</li>
        <li>Con el mensaje {{message}}</li>
        <li>Con la respuesta {{info.response}}</li>
        <li>Y el ID {{info.messageId}}</li>
    </ul>

</div>